<div id="<%= dom_id client_hospital %>">
  <p>
    <strong>Doctor:</strong>
    <%= client_hospital.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= client_hospital.patient_id %>
  </p>

</div>
