
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">New Patient</h1>
    <hr class="my-4">
  </div>
</div>
<%= render "form", patient: @patient %>

<br>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div>
    <%= link_to "Back to patients", "/welcome", class: "btn btn-warning"%>
    </div>
  </div>
</div>

