<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">New Doctor</h1>
    <hr class="my-4">
  </div>
</div>

<%= render "form", doctor: @doctor %>


<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div>
    <%= link_to "Back to login", "/login", class: "btn btn-warning" %>
  </div>
  </div>
</div>

